body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
a:active {
    font-weight: bold;
}

.monospace {
    font-family: monospace, monospace;
}
.noSelect, th, label, h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
