body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1em;
}

a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    color: steelblue;
    text-decoration: underline;
}
a:active {
    color: steelblue;
    font-weight: bold;
}
a:visited {
    color: steelblue;
}

/* Adds slightly more space between neighbouring columns' text */
td {
    padding: 1px 2px;
}

.block {
    display: block;
}
.centerContents {
    text-align: center;
}
.maxWidth {
    width: 100%;
}
.monospace {
    font-family: monospace, monospace;
}
.noSelect, th, label, h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slightlyLargerFont {
    font-size: 1.075em;
}

#content {
    padding: 0.6em;
}
